<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>josemanuel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E9FB1B1BE8C5EE00C0EE92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E9FB2F1BE8C5EF00C0EE92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E9FB3A1BE8C5EF00C0EE92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
